{% extends "navigation.html" %}
{% block navbar %}
<li class="active"><a href="{% url 'home' %}">Home</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Show Questions <span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="{% url 'mod_show_mcq' %}" >Unapproved MCQ</a></li>
<li><a href="{% url 'mod_show_cq' %}" >Unapproved CQ</a></li>
<li><a href="{% url 'mod_show_approved_mcq' %}">Approved MCQ</a></li>
<li><a href="{% url 'mod_show_approved_cq' %}">Approved CQ</a></li>
</ul>
</li>
<li><a href="{% url 'logout_page' %}">Logout</a></li>
 {% endblock %}
{% block content %}
<html>
<head>
	<title> Yaksh</title>
</head>
<body>
	<h3>{{ title }}</h3>
	<ul>
	{% for each in questions %}
		<li>
		<a href="../{{each.id }}" >{{ each.text }}</a>	
		
		</li>

	{% endfor %}

	</ul>
</body>
</html>
{% endblock %}
